@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.nav-home-div{
    height: 100%;
}

hr.rounded {
    height: 5px;
    border-top: 8px solid #8b6666;
    border-radius: 10px;
}

.home-section{
    background-color: #5e74c2;
    height: 40rem;
}

.home-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(14, 14, 39);
    height: 5rem;
}

#logo-img{
    width:  3.9rem;
    height: 3.9rem;
    border-radius: 50%;
    margin:1.2rem 2.5rem;
}


.nav-class{
    font-family: Montserrat;
    height: 80px;
    width: 100%;
    background: rgb(14, 14, 39);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

.nav-class ul{
    display: flex;
    list-style: none;
    /* margin: 0 50px; */
    /* margin-left: 6rem; */
    align-items: center;
}

.nav-class li{
    text-align: center;
}
.nav-class ul li a{
    color: rgb(219, 216, 216);
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    padding: 0px 30px;
    border-radius: 5px;
    text-align: center;
}

.nav-class ul li a:hover{
    color: rgb(0, 43, 160);
    background-color:rgb(240, 240, 240);
}

.menu-btn i{
    color: white;
    cursor: pointer;
    font-size: 22px;
}

#click, .menu-btn i{
    display: none;
}


#home-img img{
    height: 190px;
    width: 380px;
}
.home-img-soc{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size:x-large;
    height: 80%;
    padding-top: 10rem;
}

#socials-intro{
    text-align: center;
    margin-bottom: 3rem;
}
#socials{
    grid-area: socials;
}
.social-links{
    padding-left: 35%;
}

.about-me-container {
    text-align: center;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-img img {
    margin: auto;
    border-radius: 5%;
    margin-bottom: 2rem;
    height:190px;
    width: 360px;
}

.about-paragraph {
    text-align:center;
    padding: 0 20px;
}

.about-paragraph p {
    font-family: 'Courier New', monospace;
    line-height: 1.6;
}

/* #experience{
    position: relative;
} */

.exp{
    color: green;
    font-family: Montserrat;
    font-weight: bolder;
    font-size: 1.6rem;
    margin: 2rem;
    /* display: flex; */
    max-width: 100%;
    text-align: center;
}

.exp-details-container{
    display: flex;
    justify-content: space-evenly;
    width: auto;
    margin-left: 100px;
    margin-right: 100px;
}

.skills-container{
    /* height: 50%; */
  padding: 1.5rem;
  display: flex;
  margin: 1rem;
  width: 80%;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
  /* justify-content: space-evenly; */
  align-items: column;
  flex-wrap: wrap;
  flex-direction: column;
}


.skill-details-container{
    width: auto;
    /* margin:5px; */
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    /* justify-content: space-evenly; */
    margin-top: 2rem;
    gap: 2.5rem;
    justify-content: center;
    /* text-align: center; */
    align-items: center;
}

article{
    /* display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem; */
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
    text-align: center;
}

.timeline-containers-container{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* align-content: space-between; */
}

.timeline-container ul{
    /* width:3rem */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    list-style: none;
} 


.timeline-container ul li{
    text-decoration: none;
    color: rgb(75, 75, 75);
    text-align:center;
    font-size: 19px;
    margin-bottom: 4%;
    /* display: flex; */
    /* justify-content: center; */
    border: rgb(53, 53, 53) 0.1rem solid;
    border-radius: 2rem;
    border-color: #668b89;
    /* border: 50px; */
    padding: 1rem;
    background-color: rgb(230, 243, 255);
}

.timeline-container ul li a{
    text-decoration: none;
    color: rgb(78, 58, 227);
}

.timeline-container li p{
    margin-top: 0.6rem;
}



/* .project-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
} */
.project-container {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-evenly;
}

.project-holder {
    width: 100%;
}

.project-holder ul {
    list-style: none;
    /* padding: 0; */
    /* margin: 0; */
    display: flex;
    justify-content: center;
}

.project-holder ul li {
    text-align: center; 
    margin: 0 10px; 
    width: 50%;
    border: #d31e87;
    border-style: dashed;
    padding: 0.5rem;
    padding-bottom: 1rem;
    background-image: linear-gradient(to right, #ff7e5f, #feb47b, #ffcc80);
}

.project-img{
    margin-bottom: 2rem;
}

.project-description h3{
    margin-bottom: 1rem;
    font-size:20px;
    color: rgb(36, 115, 183);
}

.project-description button{
    margin-top: 1.3rem;
    background-color: rgb(134, 197, 252);
    color:black;
    padding: 2px 10px; 
    border-radius: 10px; 
    border: none;
    cursor: pointer;
    height: 2rem;
    width: 5rem;
}

.books-div{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.fav-book li{
    display: flex;
    flex-direction: column;
    border-color: #feb47b;
    border-width: medium;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    
}

.recent-book li{
    display: flex;
    flex-direction: column;
    border-color: #feb47b;
    border-width: medium;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    
}

.book-description{
    justify-content: center;
    text-align: center;
    border: #ffaa2a;
    border-style :groove;
    margin-right:5rem;
    margin-left:5rem;
    margin-bottom:5rem;
    padding: 2rem;
}

.contact-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5rem;
}

.card-wrapper h1{
    font-family: Mulish, sans-serif;
}
.card-wrapper h5{
    font-family: Quicksand, sans-serif;
}

.card-wrapper-socials{
    margin: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.message-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Mulish, sans-serif;
    border-radius: 5%;
    border-color: #668b89;
    border-style: double;
    padding: 1rem;
}

.form-class{
    align-items:flex-start;
}

.form-class input,textarea{
    margin: 0.5rem;
    /* margin:1rem; */
}

.fields{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: space-evenly;
}

.fields input, textarea{
    height: 100%;
    width: 100%;
    padding: 0 15px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-radius: 6px;
    /* margin: 1rem; */
}

.message-div button{
    font-weight: 400;
    transition: all 300ms ease;
    padding: 1rem;
    height: 3rem;
    width: 8rem;
    border-radius: 2rem;
    background: rgb(71, 156, 173);
    color: white;
    margin-top: 1rem;
}

.copyright{
    text-align: center;
    margin-bottom: 2rem;
}


